* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px; }
  body main {
    height: 100vh; }
    body main .heading {
      display: flex;
      flex-direction: column; }
      body main .heading .p1 {
        color: #ec5242;
        font-weight: 600; }
      body main .heading h1 {
        background-image: url(../images/h1_bg.jpg);
        background-repeat: repeat;
        background-position: -318px 56px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;
        font-weight: 900;
        -webkit-font-smoothing: antialiased; }
      body main .heading .p2 {
        color: #4f4f4f;
        font-weight: 500;
        text-align: left;
        border: 2px solid #fff; }
      body main .heading h3 {
        color: #4f4f4f;
        font-weight: 900;
        text-align: left; }
      body main .heading h4 {
        color: #4f4f4f;
        font-weight: 400;
        text-align: left; }
    body main .main_program_section {
      background-image: url("../images/memphis-mini-dark.png");
      background-repeat: repeat; }
      body main .main_program_section h2 {
        color: #fff;
        text-align: center; }
      body main .main_program_section .hr1 {
        width: 7%;
        height: 1px;
        background: #ec5242;
        margin: auto;
        border: 0;
        border-top: 0 solid;
        opacity: 1; }
      body main .main_program_section ul {
        list-style-type: none;
        padding: 0; }
        body main .main_program_section ul li {
          background-color: rgba(129, 129, 129, 0.5); }
          body main .main_program_section ul li h2 {
            color: #ec5242;
            font-weight: 600; }
          body main .main_program_section ul li p {
            color: #fff; }

@media only screen and (max-width: 767px) {
  body header .social_top_bar {
    display: none; }
  body header .section_top_bar {
    display: none; }
  body header .hamburger {
    padding-top: 20px;
    padding-left: 20px; }
    body header .hamburger a img {
      width: 35px; }
  body main {
    background-image: url("../images/mobile_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -59px;
    margin-left: 0; }
    body main .heading {
      padding: 89px 20px 0 20px; }
      body main .heading .p1 {
        margin-bottom: 0;
        font-size: 1.5rem; }
      body main .heading h1 {
        font-size: 2.2rem; }
      body main .heading .p2 {
        font-size: 1rem;
        margin-top: 16px;
        max-width: 530px;
        padding: 10px; }
      body main .heading h3 {
        font-size: 1.8rem; }
      body main .heading h4 {
        font-size: 1.2rem; }
  body .main_program_section {
    margin-top: 70px; }
    body .main_program_section h2 {
      font-size: 1.3rem;
      padding-top: 30px;
      padding-bottom: 5px; }
    body .main_program_section ul {
      margin: 20px 10px 0 10px;
      display: flex;
      flex-direction: column;
      gap: 10px; }
      body .main_program_section ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        gap: 10px;
        height: 100px; }
        body .main_program_section ul li .div_card1 {
          width: 10%; }
          body .main_program_section ul li .div_card1 img {
            width: 100%; }
        body .main_program_section ul li h2 {
          width: 30%;
          font-size: 1rem;
          padding: 0; }
        body .main_program_section ul li p {
          width: 60%;
          font-size: 0.7rem;
          font-weight: 400;
          margin: 0; }
    body .main_program_section .div_button_mobile button {
      background-color: #ec5242;
      color: #fff;
      border: none;
      padding: 0;
      font-size: 1.5em;
      cursor: pointer;
      outline: inherit;
      text-align: center;
      padding: 20px 70px;
      margin-top: 40px;
      margin-bottom: 40px; } }
@media only screen and (min-width: 768px) {
  body header .hamburger {
    display: none; } }

/*# sourceMappingURL=index2.css.map */
