html * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.hr1 {
  width: 7%;
  height: 1px;
  background: #ec5242;
  margin: auto;
  border: 0;
  border-top: 0 solid;
  opacity: 1;
}

main .heading {
  display: flex;
  flex-direction: column;
  height: auto;
}

main section.heading p.subHeading {
  color: #ec5242;
  font-weight: 600;
}

main .heading h1 {
  background-image: url(../images/h1_bg.jpg);
  background-repeat: repeat;
  background-position: -318px 56px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
}

main .heading p.heading {
  color: #4f4f4f;
  font-weight: 500;
  text-align: left;
  border: 2px solid #fff;
}

main .heading h3 {
  color: #4f4f4f;
  font-weight: 900;
  text-align: left;
}

main .heading h4 {
  color: #4f4f4f;
  font-weight: 400;
  text-align: left;
}

main section.main_program {
  background-color: #272a31;
}

main section.main_program div.experimental {
  background-image: url("../images/pattern2.svg");
}

main .main_program h2.main_program {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

main .main_program ul li {
  background-color: rgba(148, 145, 145, 0.1);
}

main .main_program ul.main_program li.main_program div.main_program {
  display: flex;
  justify-content: center;
}

main .main_program ul li h2 {
  color: #ec5242;
  font-weight: 600;
}

main .main_program ul li p {
  color: #fff;
}

main section.featured_performers {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section.featured_performers h2.featured_performers {
  text-align: center;
  color: #272a31;
}

main section.featured_performers div ul {
  margin: 40px 10px 0 10px;
}

main section.featured_performers div ul li {
  display: flex;
  border: 10px solid transparent;
}

main section.featured_performers div ul li div:nth-of-type(1) {
  width: 30%;
  background-image: url("../images/bg-chess.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

main section.featured_performers div ul li div:nth-of-type(1) img {
  width: 90%;
  max-width: 130px;
  margin-top: 20px;
  margin-left: 20px;
}

main section.featured_performers div ul li div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 70%;
  margin-left: 20px;
}

main section.featured_performers div ul li div:nth-of-type(2) h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

main section.featured_performers div ul li div:nth-of-type(2) p:nth-of-type(1) {
  font-size: 0.8rem;
  color: #ec5242;
  font-weight: 700;
  margin: 0;
}

main section.featured_performers div ul li div:nth-of-type(2) .hr1 {
  background: #d3d3d3;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

main section.featured_performers div ul li div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 0.7rem;
  font-weight: 700;
  color: #4f4f4f;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div.footer1 {
  background-color: #272a31;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 215px;
}

footer .footer1 h2.footer1 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 30px;
  padding-bottom: 5px;
  color: #d3d3d3;
}

footer .footer1 ul.footer1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 51px;
  gap: 30px;
}

footer .footer1 ul li img.footer1 {
  width: 64px;
}

footer .footer2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 30px;
  height: 215px;
}

footer div.footer2 .brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .footer2 .brand h3.footer2 {
  font-size: 1.3rem;
  font-weight: 500;
}

footer .footer2 .rights p.rights:nth-of-type(1) {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

footer .footer2 .rights p.rights:nth-of-type(2) {
  font-size: 0.9rem;
  color: #4f4f4f;
}

/* Mobile version *************************************************/
@media only screen and (max-width: 767px) {
  .show {
    display: flex;
  }

  .no_show {
    display: none;
  }

  .grow {
    animation: grow ease 2s;
    animation-fill-mode: forwards;
  }

  .compress {
    animation: compress ease 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes grow {
    0% {
      height: 0;
    }

    100% {
      height: auto;
    }
  }

  @keyframes run-out {
    0% {
      margin-left: 0%;
    }

    100% {
      margin-left: -100%;
    }
  }

  body header .social_bar {
    display: none;
  }

  body header .top_bar {
    display: none;
  }

  body header nav.hamburger {
    padding-top: 20px;
    padding-left: 20px;
  }

  body header .hamburger a img {
    width: 30px;
  }

  body main section.heading {
    background-image: url("../images/mobile_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -59px;
    padding: 89px 20px 0 20px;
  }

  body main section.heading p.subHeading {
    margin-bottom: 0;
    font-size: 1.5rem;
  }

  body main .heading h1 {
    font-size: 2.2rem;
  }

  body main section.heading p.heading {
    font-size: 1rem;
    margin-top: 25px;
    max-width: 530px;
    padding: 10px;
  }

  body main .heading h4 {
    margin-top: 10px;
    font-size: 1.2rem;
  }

  div.hamburguer {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #272a31;
    margin-left: -100%;
  }

  .hamburguer ul {
    list-style: none;
    display: inline-block;
    margin-top: 70px;
    margin-left: 10px;
  }

  .hamburguer li {
    font-family: "Inter", sans-serif;
    margin-bottom: 30px;
    border-bottom: 3px double #fff;
  }

  .hamburguer li .hamburguer-link {
    color: #ec5242;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
  }

  .hamburguer button {
    float: right;
    margin-top: 35px;
    margin-right: 35px;
  }

  .no-scroll {
    overflow: hidden;
  }

  .run {
    animation: run ease 0.5s;
    animation-fill-mode: forwards;
  }

  .run-out {
    animation: run-out ease 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes run {
    0% {
      margin-left: -100%;
    }

    100% {
      margin-left: 0%;
    }
  }

  @keyframes run-out {
    0% {
      margin-left: 0%;
    }

    100% {
      margin-left: -100%;
    }
  }

  body main section.main_program {
    margin-top: 70px;
  }

  body main .main_program h2 {
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 5px;
  }

  body main .main_program ul {
    margin: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  body main .main_program ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    gap: 10px;
    width: 100%;
    max-width: 450px;
    height: 100px;
  }

  body main .main_program ul li div {
    width: 20%;
  }

  body main .main_program ul li div img {
    width: 100%;
    max-width: 100px;
  }

  body main .main_program ul li h2 {
    width: 30%;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  body main .main_program ul li p.main_program {
    width: 50%;
    font-size: 0.7rem;
    font-weight: 400;
    margin: 0;
    padding-left: 5px;
  }

  body main .main_program div.mp_div_mob {
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }

  body main .main_program div.mp_div_mob button {
    background-color: #ec5242;
    color: #fff;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    min-width: 260px;
    padding: 5% 10%;
  }

  body main .main_program div.mp_div_dsk {
    display: none;
  }

  body main .featured_performers {
    margin-top: 30px;
  }

  body main section.featured_performers div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body main section.featured_performers div ul.featured_performers {
    align-items: center;
  }

  body main section.featured_performers div ul.featured_performers div.moreDiv {
    margin: 0;
    padding: 0;
  }

  body main section.featured_performers div ul.featured_performers div.moreBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border: 1px solid #d3d3d3;
  }

  body main .featured_performers h2.featured_performers {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0 10px;
  }

  body footer {
    display: none;
  }
}

/* Desktop version ********************************************* */
@media only screen and (min-width: 768px) {
  body header .social_bar {
    background-color: #4f4f4f;
    display: flex;
    justify-content: end;
  }

  body header .social_bar nav {
    margin: 0 100px 5px 0;
  }

  body header .social_bar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  body header .social_bar nav ul li a {
    color: #fff;
    font-size: 0.9rem;
  }

  body header .social_bar nav ul li a img {
    height: 15px;
    width: 15px;
  }

  body header .social_bar nav ul li:nth-of-type(2) a {
    margin-right: 40px;
  }

  body header .top_bar {
    display: flex;
    justify-content: space-between;
  }

  body header .top_bar nav:nth-of-type(1) {
    padding-left: 10%;
  }

  body header .top_bar nav:nth-of-type(1) a img {
    width: 150px;
  }

  body header .top_bar nav:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body header .top_bar nav:nth-of-type(2) ul {
    display: flex;
    width: 100%;
  }

  body header .top_bar nav:nth-of-type(2) ul li {
    margin-right: 35px;
  }

  body header .top_bar nav:nth-of-type(2) ul li a {
    color: #4f4f4f;
    font-size: 0.9rem;
    font-weight: 600;
  }

  body header .top_bar nav:nth-of-type(2) ul li:nth-child(1) a {
    color: #ec5242 !important;
  }

  body header .top_bar nav:nth-of-type(2) ul li:nth-child(6) {
    border: 4px solid #ec5242;
    min-width: 105px;
  }

  body header .top_bar nav:nth-of-type(2) ul li:nth-child(6) a {
    color: #ec5242 !important;
    padding: 10px;
  }

  body header .hamburger {
    display: none;
  }

  div.hamburguer {
    display: none;
  }

  body main section.heading {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    background-image: url("../images/bg-heading.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
  }

  body main section.heading p.subHeading {
    color: #ec5242;
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 150px;
  }

  body main .heading h1 {
    background-image: url(../images/h1_bg.jpg);
    background-repeat: repeat;
    background-position: -318px 56px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    text-align: left;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
  }

  body main .heading p.heading {
    color: #4f4f4f;
    font-weight: 500;
    text-align: left;
    padding-left: 1%;
    width: 40%;
    background-color: #fff;
  }

  body main .heading h3 {
    color: #4f4f4f;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: left;
    margin-top: 50px;
  }

  body main .heading h4 {
    color: #4f4f4f;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
  }

  body main section.main_program {
    width: 100%;
  }

  main section.main_program div.experimental {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  body main section.main_program h2 {
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 5px;
  }

  body main section.main_program ul.main_program {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  body main section.main_program ul.main_program li.main_program {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 30px 10px;
    height: 250px;
    gap: 10px;
    width: 15%;
    min-width: 200px;
    max-width: 230px;
  }

  body main section.main_program ul.main_program li.main_program:hover {
    border: 2px solid #fff;
  }

  body main section.main_program ul.main_program li.main_program div {
    display: block;
  }

  body main section.main_program ul.main_program li.main_program div img {
    width: 70%;
  }

  body main section.main_program ul.main_program li.main_program h2 {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
  }

  body main section.main_program ul.main_program li.main_program p {
    font-size: 0.7rem;
    font-weight: 400;
    margin: 0;
    padding-left: 5px;
    text-align: center;
  }

  body main section.main_program div.mp_div_mob {
    display: none;
  }

  body main section.main_program div.mp_div_dsk {
    text-decoration: underline;
  }

  body main section.main_program div.mp_div_dsk a.mp_div_dsk {
    color: #d3d3d3;
  }

  body main .featured_performers {
    margin-top: 30px;
  }

  body main .featured_performers h2.featured_performers {
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 5px;
  }

  .hr1 {
    width: 2%;
  }

  .more {
    display: none;
  }
}

/*# sourceMappingURL=index2.css.map */
